<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>All Settings Below Except The 'Update Interval' Are Updated Dynamically And Do Not Require A Respring. Enabling / Disabling The Tweak Requires A Respring.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showUploadSpeed</string>
			<key>label</key>
			<string>Show Upload Speed</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>↑</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>uploadPrefix</string>
			<key>label</key>
			<string>Upload Prefix</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showDownloadSpeed</string>
			<key>label</key>
			<string>Show Download Speed</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>↓</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>downloadPrefix</string>
			<key>label</key>
			<string>Download Prefix</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string> </string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>separator</string>
			<key>label</key>
			<string>Separator</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showUploadSpeedFirst</string>
			<key>label</key>
			<string>Show Upload Speed first</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>	

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DATA UNIT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>dataUnit</string>
			<key>validTitles</key>
			<array>
      			<string>Bytes</string>
      			<string>Bits</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
			</array>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>showPostfix</string>
			<key>label</key>
			<string>Show per second postfix</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>		

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PORTRAIT POSITION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>135</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>portraitX</string>
			<key>label</key>
			<string>Portrait X</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>10</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>portraitY</string>
			<key>label</key>
			<string>Portrait Y</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SIZE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>135</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>width</string>
			<key>label</key>
			<string>Width</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>height</string>
			<key>label</key>
			<string>Height</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>adjustFontSizeToFit</string>
			<key>label</key>
			<string>Adjust Font size to fit Width</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>			

	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TEXT FONT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>13</string>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>fontSize</string>
			<key>label</key>
			<string>Font Size</string>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>6</integer>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>fontWeight</string>
			<key>validTitles</key>
			<array>
      			<string>Regular</string>
      			<string>SemiBold</string>
      			<string>Bold</string>
				<string>Heavy</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>3</string>
      			<string>5</string>
      			<string>6</string>
				<string>7</string>
			</array>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TEXT ALIGNMENT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.johnzaro.networkspeed13prefs</string>
			<key>key</key>
			<string>alignment</string>
			<key>validTitles</key>
			<array>
      			<string>Left</string>
      			<string>Center</string>
      			<string>Right</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
			</array>
			<key>PostNotification</key>
			<string>com.johnzaro.networkspeed13prefs/ReloadPrefs</string>
		</dict>		

		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Respring</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>

 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee</string>
            <key>action</key>
            <string>donate</string>			
			<key>icon</key>
			<string>donate.png</string>
        </dict>		
	</array>
</dict>
</plist>
